.stApp {
    background-color: #0A0D14;
}

[data-testid="stSidebar"] {
    background-color: #111520;
}

button {
    border-radius: 0 !important;
    font-family: 'AdobeClean', sans-serif !important;
}

[data-testid="stSelectbox"]>div>div,
[data-baseweb="select"]>div,
[data-baseweb="popover"] ul,
[data-baseweb="menu"],
p,
li,
input,
textarea {
    border-radius: 0 !important;
    font-family: 'AdobeClean', sans-serif !important;
}

[data-testid="stMetric"] {
    background-color: #181D2A;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 1rem 1.2rem;
    border-radius: 0;
}

[data-testid="stMetric"] div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-testid="stMetric"] div label p {
    font-size: 16px !important;
}

[data-testid="stMetricValue"] {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    font-family: 'AdobeClean', sans-serif !important;
}

[data-testid="stMetricLabel"] {
    font-size: 15px !important;
    font-weight: 400 !important;
    opacity: 0.6;
    font-family: 'AdobeClean', sans-serif !important;
}

.block-container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    max-width: 750px !important;
}

.MuiBox-root button {
    background-color: #181D2A !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    padding: 1rem 1.2rem !important;
    border-radius: 0 !important;
    font-family: 'AdobeClean', sans-serif !important;
}


/* ------------------------------------------------ */
/* CONTAINERS (15px radius) */
/* cards / layout / dropdown menus */
/* ------------------------------------------------ */

.stContainer,
.stExpander,
.stTabs,
.stColumns,
.stPopover,
.stAlertContainer,
.stStatusContainer,
.stMetric,
.stTable,
.stDataFrame,
.stForm,
.stSelectbox,
.stMarkdown div,
.stMarkdown span,
.stDailog div,
.stDailog code,
[data-baseweb="select"] > div,
[data-testid="stSelectbox"] > div > div,
[data-testid="stForm"],
[data-testid="stMetric"],
[data-testid="stNumberInputContainer"],
[data-testid="stDataFrameColumnMenu"],
[data-testid="stDataFrameColumnMenu"] div,
[data-testid="stHeadingWithActionElements"],
[data-testid="stHeadingWithActionElements"] span,
[data-testid="stCaptionContainer"] p,
[data-testid="stBaseButton-header"] span,
[data-testid="stAlertContentInfo"] p,
[data-baseweb="popover"],
[data-baseweb="popover"] div,
[data-baseweb="menu"],
div[role="menu"],
div[role="menu"] div,
div[role="menuitem"] {
    border-radius: 0px !important;
    font-family: 'AdobeClean', sans-serif !important;
}


/* ------------------------------------------------ */
/* DATAFRAME SPECIAL FIX */
/* ------------------------------------------------ */

.stDataFrameGlideDataEditor,
.stDataFrame div,
.stDataFrame div div {
    border-radius: 0px !important;
    font-family: 'AdobeClean', sans-serif !important;
}


/* ------------------------------------------------ */
/* INTERACTIVE INPUTS (25px radius) */
/* buttons / inputs / sliders */
/* ------------------------------------------------ */

.stButton,
.stDownloadButton,
.stTextInput,
.stTextArea,
.stNumberInput,
.stSlider,
/* .stSelectbox, */
.stMultiselect,
.stRadio,
.stCheckbox,
.stToggle,
.stFileUploader,
.stColorPicker,
.stDateInput,
.stTimeInput,
.stCameraInput,
input,
textarea,
.stAlert strong,
[data-testid="stTextInput"] > div,
[data-testid="stButton"] button,
[data-testid="stBaseButton-secondaryFormSubmit"],
[data-testid="stBaseButton-secondary"] p,
[data-testid="stStatusWidget"],
[data-testid="stStatusWidget"] p {
    border-radius: 0px !important;
    font-family: 'AdobeClean', sans-serif !important;
}

[data-testid="stMarkdownContainer"] strong {
    font-family: 'AdobeClean', sans-serif !important;
}


/* ------------------------------------------------ */
/* FORM LAYOUT */
/* ------------------------------------------------ */

.stForm {
    margin-top: 2rem !important;
    padding: 1.5rem 1rem !important;
    border-radius: 25px !important;
    font-family: 'Averta', sans-serif !important;
}

div, code {
    font-family: 'AdobeClean', sans-serif !important;
}